software-consumer/out
software-consumer/build
software-consumer/target
software-consumer/.gradle
software-consumer/gradle.properties
*.idea
*.iml
*.ipr
*.iws
software-consumer/src/main/resources/.reloadtrigger
software-consumer/.kpt-pipeline
