spring:
  application.name: ${CONSUMER_TYPE}-consumer
  main:
    banner-mode: off
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: ${CONSUMER_TYPE}-orders
      auto-offset-reset: earliest
      key-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.StringDeserializer
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.value.default.type: com.danielptv.kafka.OrderDTO
        spring.json.trusted.packages: '*'
        group.instance.id: ${CONSUMER_TYPE}-consumer
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
  jackson:
    serialization:
      fail-on-empty-beans: false

consumer:
  type: ${CONSUMER_TYPE}
